*{
    margin: 0;
    padding: 0;
}

p2{
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
}           

.main-container{

    background-color: white;
    max-width: 2000px;

}

body{

    background-color: white;

}

header{

    width: 100%;
    background-color: black;
    text-align: center;
}

footer{

    width: 100%;
    background-color: black;
    text-align: center;
    font-size: 10px;
    

}

.main-about-section{

    background-color: white;
}

.main-about-section h1, p{

    color: black;
    margin-left: 5%;
    margin-right: 5%;


}

.main-band1{

    background-color: white; 
    color: black;
}

.main-band1 h1, h2, p2{

    color: black;
    margin-left: 5%;
    margin-right: 5%;

}


h1{
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-weight: 100;
}

p{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.img-band{

    justify-content: center;
    align-items: center;

}

img{

    height: auto;
    width: 100%;

}